version: 2

references:
  js_deps_cache_key: &js_deps_cache_key v1-dependencies-{{ checksum "yarn.lock" }}
  workspace_root: &workspace_root .
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root
jobs:
  build:
    docker:
      - image: circleci/node:dubnium
    working_directory: ~/react-mosaic
    steps:
      - checkout
      - run:
          name: Install Yarn
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.16.0
            export PATH="$HOME/.yarn/bin:$PATH"
      - restore_cache:
          keys:
            - *js_deps_cache_key
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: *js_deps_cache_key
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .
  test:
    docker:
      - image: circleci/node:dubnium
    working_directory: ~/react-mosaic
    steps:
      - *attach_workspace
      - run: mkdir reports
      - run:
          name: Run unit tests
          command: yarn test:unit --reporter mocha-junit-reporter --reporter-options mochaFile=reports/mocha/test-results.xml
      - run:
          name: Lint
          command: yarn test:lint --format junit -o ./reports/tslint/tslint.xml
      - store_test_results:
          path: reports
      - store_artifacts:
          path: ./reports/mocha/test-results.xml
      - store_artifacts:
          path: ./reports/tslint/tslint.xml
  deploy:
    docker:
      - image: circleci/node:dubnium
    working_directory: ~/react-mosaic
    steps:
      - *attach_workspace
      - run:
          name: Publish
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
            npm publish
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
