@import (reference) '~@blueprintjs/core/lib/less/variables';

html,
body,
#app,
.react-mosaic-example-app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.react-mosaic-example-app {
  .actions-label {
    margin-right: 10px;
  }

  .theme-selection {
    margin: 0;
  }

  .navbar-separator {
    height: 20px;
    border-left: 1px solid @gray1;
    margin: 10px;
  }

  .@{ns}-navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .@{ns}-navbar-heading a {
    color: @white;

    .version {
      color: @gray2;
    }
  }

  > .mosaic {
    height: ~'calc(100% - 50px)';
  }

  .github-link {
    @size: 32px;
    height: @size;
    width: @size;
    margin-left: 15px;
  }

  .toolbar-example {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

body {
  user-select: none;
  -webkit-user-select: none;
}

.example-window {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .ad-container {
    margin-top: 20px;
  }
}
